<div>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{nomeDaAcao}} Ordem de Serviço</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <form [formGroup]="formularioOrdemDeServico" #formularioOrdemDeServicoDirective="ngForm">
        <div class="flx-clmn">
          <section [hidden]="nomeDaAcao=='Inserir'">
            <mat-form-field appearance="outline">
              <mat-label>Convênio</mat-label>
              <input matInput type="text" formControlName="convenio">
              <mat-error *ngIf="formularioOrdemDeServico?.controls?.['convenio']?.errors?.['required']">O campo
                [Convênio] é
                obrigatório.
              </mat-error>
            </mat-form-field>
          </section>
        </div>

        <div class="flx-clmn">
          <section [hidden]="nomeDaAcao=='Editar'">
            <mat-form-field appearance="outline">
              <mat-label>Médico</mat-label>
              <mat-select formControlName="medico">
                <mat-option *ngFor="let medico of medicos" [value]="medico">{{medico.nome}}</mat-option>
              </mat-select>
              <mat-error *ngIf="formularioOrdemDeServico?.controls?.['medico']?.errors?.['required']">O campo
                [Médico] é
                obrigatório.
              </mat-error>
            </mat-form-field>
          </section>
        </div>

        <div class="flx-clmn">
          <section [hidden]="nomeDaAcao=='Editar'">
            <mat-form-field appearance="outline">
              <mat-label>Paciente</mat-label>
              <mat-select formControlName="paciente">
                <mat-option *ngFor="let paciente of pacientes" [value]="paciente">{{paciente.nome}}</mat-option>
              </mat-select>
              <mat-error *ngIf="formularioOrdemDeServico?.controls?.['paciente']?.errors?.['required']">O campo
                [Paciente] é
                obrigatório.
              </mat-error>
            </mat-form-field>
          </section>
        </div>

        <div class="flx-clmn">
          <section [hidden]="nomeDaAcao=='Editar'">
            <mat-form-field appearance="outline">
              <mat-label>Posto de Coleta</mat-label>
              <mat-select formControlName="postoColeta">
                <mat-option *ngFor="let postoColeta of postoColetas" [value]="postoColeta">{{postoColeta.descricao}}</mat-option>
              </mat-select>
              <mat-error *ngIf="formularioOrdemDeServico?.controls?.['postoColeta']?.errors?.['required']">O campo
                [Posto de Coleta] é
                obrigatório.
              </mat-error>
            </mat-form-field>
          </section>
        </div>
      </form>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
      <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
    </mat-card-actions>
  </mat-card>

</div>
