<div class="main-container">
  <app-header [sidenav]="sidenav"></app-header>

  <mat-sidenav-container style="width: 200%">
    <mat-sidenav #sidenav class="w-15px">

      <mat-list>
        <mat-list-item (click)="sidenav.toggle()">
          <mat-icon>home</mat-icon>
          <span class="ml-15px">
            <a href="/">Início</a>
          </span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item (click)="sidenav.toggle()">
          <mat-icon>format_list_bulleted</mat-icon>
          <span class="ml-15px">
            <a href="/">Cadastrar Ordem de Serviço</a>
          </span>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content style="height: 500px">
        teste sidenavbar

    </mat-sidenav-content>
  </mat-sidenav-container>

  <app-footer></app-footer>
</div>


